dfpipelines/templates/foreach/pipeline.json
{
    "type": "pipelines",
    "name": "[parameters('pipelineName')]",
    "apiVersion": "2017-09-01-preview",
    "properties": {
      "activities": [
        {
          "name": "LookupActivity",
          "type": "Lookup",
          "typeProperties": {
              "source": {
                  "type": "AzureDataLakeStoreSource"
              },
              "dataset": { 
                  "referenceName": "", 
                  "type": "DatasetReference",
                  "parameters": {
                    "inputFolderPath": "@pipeline().parameters.inputFolderPath",
                    "inputFileName": "@pipeline().parameters.inputFileName"
                  }
              },
              "firstRowOnly": false
          }
        },
        {
          "type": "ForEach",
          "name": "ForEachRecordInSalesForce",                
          "dependsOn": [ 
              { 
                  "activity": "LookupActivity", 
                  "dependencyConditions": [ "Succeeded" ] 
              }
           ],
          "typeProperties": {
            "items": {
              "value": "@activity('LookupActivity').output.value",
              "type": "Expression"
            },
            "activities": [
              {
                "name": "ExecutePipeline-ForEach",
                "type": "ExecutePipeline",
                "typeProperties": {
                  "pipeline": {
                    "referenceName": "SalesforcePipeline",
                    "type": "PipelineReference"
                  },
                  "parameters": {
                    "outputFolderPath": "@pipeline().parameters.outputFolderPath",
                    "outputFilePath": "@item().outputFilePath",
                    "query": "@item().query",
                    "windowStart": "@pipeline().parameters.windowStart",
                    "windowEnd": "@pipeline().parameters.windowEnd"
                  },
                  "waitOnCompletion": true
                }
              }      
            ]
          }
        }
      ],
      "parameters": {
        "outputFolderPath": {
          "type": "string"
        },
        "inputFolderPath": {
          "type": "string"
        },
        "inputFileName": {
          "type": "string"
        },
        "windowStart": {
          "type": "dateTime"
        },
        "windowEnd": {
          "type": "dateTime"
        }
      }
    }
  }