dfpipelines/templates/pattern3.json
{
    "contentVersion": "1.0.0.0",
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "parameters": {
        "resourcename": {
            "type": "string",
            "metadata": {
                "description": "Name of the data factory. Must be globally unique."
            }
        },
        "location": {
            "type": "string",
            "metadata": {
                "description": "Location of the data factory."
            }
        },
        "pipelineName": {
            "type": "string",
            "metadata": {
                "description": "The name of the pipeline"
            }
        },
        "authUrl": {
            "type": "string",
            "metadata": {
                "description": "auth url endpoint"
            }
        },
        "authBody": {
            "type": "string",
            "metadata": {
                "description": "body of the auth"
            }
        },
        "analysisServicesUrl": {
            "type": "string",
            "metadata": {
                "description": "Url of the analysis services"
            }
        },
        "folderName": {
            "type": "string",
            "metadata": {
                "description": "name of the folder"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.DataFactory/factories/pipelines",
            "name": "[concat(parameters('resourcename'), '/', parameters('pipelineName'))]",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "activities": [
                    {
                        "name": "AuthAPI",
                        "type": "WebActivity",
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": true,
                            "secureInput": true
                        },
                        "typeProperties": {
                            "method": "Post",
                            "url": "[parameters('authUrl')]",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "[parameters('authBody')]"
                        }
                    },
                    {
                        "name": "AnalysisServicesRestAPI",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "AuthAPI",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "typeProperties": {
                            "method": "Post",
                            "url": {
                                "value": "[parameters('analysisServicesUrl')]",
                                "type": "Expression"
                            },
                            "headers": {
                                "Content-Type": "application/json",
                                "Authorization": "Bearer @{activity('AuthAPI').output.access_token}"
                            },
                            "body": {
                                "type": "full",
                                "maxparallelism": 2
                            }
                        }
                    }
                ],
                "folder": {
                    "name": "[parameters('folderName')]"
                }
            }
        }
    ]
}